@charset "UTF-8";

:root {
    --cor0: #8a2be2;
    --cor1: #0FFA61;
    --cor2: #FAA728;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*Parte do header*/

header {
    position: relative;
    background-color: #8a2be2;
    color: white;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}