@charset "UTF-8";

:root {
    --cor0: #8a2be2;
    --cor1: #0FFA61;
    --cor2: #FAA728;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*Parte do header*/

header {
    position: relative;
    background-color: #8a2be2;
    color: white;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

header img.perfil {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    margin-left: 20px;
    padding: 20px;
    top: 10px;
    left: 10px;
}

header div.txtheader{
    text-align: center;
    display: inline-block;
    max-width: 500px;
}

header div.txtheader > h1{
    animation: movetxtheader 1s;
}

header div.txtheader > p {
    animation: movetxtheader 1.5s;
}

@keyframes movetxtheader{
    0%{
        transform: translateX(10rem) rotateX(100deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

header div.txtheader p{
    padding-bottom: 30px;
}

header > img {
    
    display: inline-block;
    width: 200px;
    right: 20px;
    top: 10px;
}

header nav {
    position: sticky;
    text-align: center;
    padding-bottom: 15px;
}

header > nav a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    padding: 15px;
    transition-duration: 1s;
    animation: movetxtheader 1.5s;
}

header > nav a:hover{
    color: black;
    background-color: var(--cor2);
}





/*Parte do main*/

main {
    position: relative;
    background-color: var(--cor1);
    text-align: center;
}

main div {
    text-align: center;
    width: 300px;
    display: inline-block;
    margin: 50px;
}

main > div > p {
    max-width: 200px;
    text-align: center;
    padding-left: 55px;
    padding-top: 10px;
}

main img{   
    width: 200px;
    text-align: center;
}
/*Parte do footer*/